<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Hypha App | Fungi Tree</title>
    <link
        rel="shortcut icon"
        href="./assets/img/logo.png"
        type="image/png"
    />
    <!-- <link
        href="https://fonts.googleapis.com/css?family=Montserrat"
        rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="./tree-libs/treant-js/Treant.css">
    <link rel="stylesheet" href="./tree-libs/style.css">


</head>

<body>
    <!-- Tree -->
    <!-- <h1 class="page-title">Fungi Kingdom Classification</h1>     -->
    <div class="chart dragscroll" id="tree"></div>

    <!-- Instructions 
    <div id="instructions">
        <div class="left-click">
            <img src="./assets/img/move-arrows.svg" />
            <span>Drag the tree</span>
        </div>
    </div>
    -->

    <!-- Links -->
    <div class="links">
        <a target="_blank" href="https://github.com/eslam-nasser/eslam-nasser.github.io#maintainers" class="credits">Credits</a>
        <a target="_blank" href="https://github.com/eslam-nasser/eslam-nasser.github.io" class="github"><img src="./assets/img/icons/github-logo-white.svg"></a>
    </div>

    <!-- Tree Controles -->
    <div id="tree-controles">
        <span class="up">
            <img src="./assets/img/icons/up.svg">
        </span>
        <span class="right">
            <img src="./assets/img/icons/right.svg">
        </span>
        <span class="down">
            <img src="./assets/img/icons/down.svg">
        </span>
        <span class="left">
            <img src="./assets/img/icons/left.svg">
        </span>
    </div>

    <!-- Settings -->
    <div id="settings">
        <img src="./assets/img/icon-cog.svg" />
    </div>
    
    <!-- Vue App -->
    <div id="app" style="display: none">
        <button @click="addNew">Add new fungus</button>
        <button @click="save">Save & Render</button>
        <local-draggable :tasks="tasks" />
    </div>
    <script type="text/x-template" id="template-dra">
        <draggable :element="'ul'" :list="tasks":options="{group:{ name:'g1'}}" @change="onMove">
            <li v-for="(el, i) in tasks">
                <button @click="remove(tasks, i)">x</button>
                <input 
                    type="checkbox" 
                    :checked="el.hasLink" 
                    v-model="el.hasLink" 
                    @change="setLink($event, el)"
                >
                <input type="text" v-model="el.text.name">
                <a v-if="el.link && el.link.href" :href="el.link.href" target="_blank">
                    Open in new tab
                </a>
                <local-draggable v-if="el.children" :tasks="el.children"></local-draggable>
            </li>
        </draggable>
    </script>
    <!-- Tree libs -->
    <script src="./tree-libs/treant-js/raphael.js"></script>
    <script src="./tree-libs/treant-js/Treant.js"></script>

    <!-- drag scroll -->
    <script src="./tree-libs/dragscroll.js"></script>

    <!-- Vue App -->
    <script src="./tree-libs/vue/vue.js"></script>
    <script src="./tree-libs/vue/Sortable.js"></script>
    <script src="./tree-libs/vue/lodash.min.js"></script>
    <script src="./tree-libs/vue/vuedraggable.js"></script>

    <script src="./tree-libs/main.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131252474-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131252474-1');
    </script>

</body>

</html>