* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1d2935;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*
    // Light
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    
    // Deep
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
*/

/* optional Container STYLES */
.chart {
    height: 96vh;
    width: 98vw;
    margin: 2vh auto;
    border: 1px solid rgba(238, 238, 238, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    /* margin: 5px;
    margin: 15px auto; */
    /* border: 3px solid #ddd; */
    /* border-radius: 3px; */
    user-select: none;
    cursor: move;
    cursor: -o-move;
    cursor: -moz-move;
    cursor: -webkit-move;
    overflow: auto;
}

.chart::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.chart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chart::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.Treant path {
    stroke: #45586b;
}
.evolution-tree {
    width: 40px;
    height: 20px;
    border-radius: 3px;
    font-size: 10px;
}

.evolution-tree .node-name {
    background-color: #2c3e50;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
    position: absolute;
    left: -50%;
    margin: 0;
    color: #fff;
    font-size: 22px;
}
a.evolution-tree .node-name {
    transition: 0.15s;
}
a.evolution-tree:hover .node-name {
    background-color: #6c5ce7;
}

a.node .node-name {
    /* color: #6c5ce7; */
    text-decoration: underline;
}

.evolution-tree img {
    margin: auto;
    float: none !important;
}

.evolution-tree.the-parent {
    border-radius: 50%;
    background-color: #fff;
    width: 5px;
    height: 5px;
}

.evolution-tree.the-parent .node-name {
    position: absolute;
    bottom: 100%;
    left: 50%;
    left: -45px;
    top: -30px;
    text-indent: 12px;
    font-weight: bold;
    padding: 0;
    background-color: transparent;
}

/* Vue app */
#app {
    padding: 50px;
}

ul {
    padding: 20px;
    list-style-type: none;
}

ul ul:empty {
    border: 0;
    padding: 20px 10px;
    border: 1px dashed #ddd;
}

li {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.15s;
    background-color: transparent;
    position: relative;
}

li > button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-family: 'arial';
}
li > input[type='checkbox'] {
    position: absolute;
    top: 5px;
    right: 30px;
}
li:hover {
    background-color: rgba(210, 210, 210, 0.2);
}

li:hover ul:empty {
    border: 1px dashed #ccc;
}

li input[type='text'] {
    width: 200px;
    padding: 5px 10px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    margin-bottom: 5px;
}

.sortable-ghost {
    border: 1px dashed #0088f8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.1);
    color: #0088f9;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* instructions */
#instructions {
    position: absolute;
    left: 15px;
    top: 25px;
    color: #fff;
    opacity: 0.6;
    transition: 0.15s;
}
#instructions:hover {
    opacity: 1;
}
#instructions > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
#instructions > div img {
    width: 20px;
    margin-right: 10px;
}
