@media all and (max-width: 575px) {
    nav {
        padding: 30px 15px;
    }
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .container .card {
        width: 100%;
    }
    .reset-camera {
        left: 0;
        right: auto;
        bottom: 50px;
        border-radius: 0 5px 5px 0;
    }
    #instructions > a {
        margin: 0;
        border-radius: 0 0 5px 0;
    }
    #instructions > div {
        display: none;
    }
    .modal {
        max-width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}
