:root {
    --darkColor: #1d2935;
    --accentColor: #6c5ce7;
    --bgColor: #e2e1e0;
}
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bgColor);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 98vh;
}
/*
    // Light
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    
    // Deep
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
*/

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 30px 0;
}
/* LOGO */
img.logo {
    width: 200px;
}
/* LINKS */
.links a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--darkColor);
    opacity: 0.6;
    transition: 0.15s;
}
.links a:hover {
    opacity: 1;
}
.links img {
    width: 15px;
}

/* CARDS */
.container {
    position: relative;
    /* min-height: 100vh; */
    width: 1000px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    border-left: 3px solid var(--darkColor);
    padding-top: 50px;
    padding-left: 50px;
    color: var(--darkColor);
}
.container.loading {
    border-left-color: transparent;
}
.container.loading .spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-right: 3px solid #6c5ce7;
    animation: spin 0.3s linear infinite;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%) rotate(0);
}
@keyframes spin {
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.container:not(.loading)::before {
    content: 'Kingdom: Fungi';
    background-color: var(--darkColor);
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20px, -100%);
    font-size: 2em;
    padding: 10px;
    border-radius: 4px;
}
.container section:last-of-type::after {
    content: '';
    width: 100px;
    height: 21px;
    background-color: #e2e1e0;
    display: block;
    position: absolute;
    right: 100%;
    bottom: 0;
}
.container section .section-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.container section h2 {
    width: 100%;
    position: relative;
    padding-left: 50px;
    background-color: var(--darkColor);
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    /* margin-left: 10px; */
    transition: 0.14s;
}
.container section h2::before {
    content: '';
    width: 53px;
    height: 3px;
    background-color: var(--darkColor);
    position: absolute;
    right: 100%;
    top: 50%;
}
.container section h2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.container section h2:hover {
    cursor: pointer;
    opacity: 0.92;
}
.container section h2:hover img {
    opacity: 1;
}

.container section h2 img {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    opacity: 0.2;
    transition: 0.35s;
    z-index: 1;
}
.container section.closed h2 img {
    transform: translateY(-50%) rotate(0);
    opacity: 1;
}

.container .card {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    width: calc(33.333% - 20px);
    margin: 0 10px 20px;
    display: block;
    color: inherit;
    transition: 0.15s;
    padding: 5px;
    text-decoration: none;
}
.container .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
}
.container .card .image {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-color: #aaa;
    position: relative;
}
.container .card h5 {
    margin: 0;
    padding: 10px 5px;
    font-size: 1.3em;
    text-align: center;
    text-transform: capitalize;
}

.container .card .image .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    color: #fff;
    transition: 0.15s;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .image .info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.container .card .image .info li {
    padding: 10px 0;
}
.container .card .image .info li span {
    width: 80px;
    display: inline-block;
}
.container .card:hover .image .info {
    opacity: 1;
}
